

.inner{
    width: 1024px;
    margin: 0 auto;
    border: 2px solid red;
}
section{
    margin-top: 5rem;
}
h2{
    font-size: 3.125rem;
    font-weight: bold;
}

/* header */
h1{
    text-align: center;
    height: 100px;
    line-height: 100px;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    height: 30px;
    line-height: 30px;
}

/* main */


/* main > fragrance 구역 */
.fragrance {
    display: flex;
    justify-content: space-between;
}
.fragranceItem img{
    width: 330px;
    height: 446px;
    border: 1px solid red;
}
.fragranceItem a:hover:before{
    content:"";
    position: absolute;
    width: 330px; height: 446px;
    background:rgba(255,255,255,.3);
}


/* main > accessory 구역 */
.acceBox, .bag{
    width: 315px;
    height: 405px;
    background-color:#E1D8F0;
    padding: 50px;
}
.acceBox p, .bag p{
    font-size:2rem;
    font-weight: bold;
    padding-bottom: 1.6rem;
}
.acceBox pre, .bag pre{
    font-size: 1rem;
    
}

/* main > bestItem 구역 */
.bestItemSec p{
    font-size: 1.2rem;
}
