

.inner{
    width: 1024px;
    margin: 0 auto;
}
section{
    margin-top: 5rem;
}
h2{
    font-size: 3.125rem;
    font-weight: bold;
}

/* header */
h1{
    text-align: center;
    height: 100px;
    line-height: 100px;
    border-bottom: 2px solid #8F79B7;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
nav ul li{
    height: 30px;
    line-height: 30px;
}

/* main */

/* main > fragrance 구역 */
.fragrance {
    display: flex;
    justify-content: space-between;
}
.fragranceItem img{
    width: 330px;
    height: 446px;
    
}
.fragranceItem a:hover:before{
    content:"";
    position: absolute;
    width: 330px; height: 446px;
    background:rgba(255,255,255,.3);
}
.fragranceItem{
    position: relative;
}
.plus{
    position: absolute;
    padding: 15px 50px;
    background-color: #8F79B7;
    left: 50%;
    top:40%;
    transform: translateX(-50%);
    color:#fff;
}
/* main > line 구역 */
.lineBox{
    width: 100%;
    opacity: 60%;
    background-color:#8F79B7;
    overflow: hidden;
}
.line{
    display: flex;
    animation-direction: normal;
    animation: slidein 40s linear infinite;
    }
.line li{
    margin:20px 40px;
    color:#fff;
}
    @keyframes slidein{
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
    }

/* main > accessory 구역 */
.accessory{
    position: relative;
}
.acceBox, .bag{
    width: 315px;
    height: 405px;
    background-color:#E1D8F0;
    padding: 50px;
}
.acceBox p, .bag p{
    font-size:2rem;
    font-weight: bold;
    padding-bottom: 1.6rem;
}
.acceBox pre, .bag pre{
    font-size: 1rem;   
}
.sliderBox{
    width: 60%;
    position: absolute;
    right: 0;
    border: 1px solid red;
}
.accSlide{
    background-color: #8F79B7;
}
/* main > bestItem 구역 */
.bestItem {
    display:flex;
}
.bestItemSecTitle{
    width: 40%;
    text-align: center;
    padding-top: 130px;
}
.bestItemSec{
    width: 60%;
}
.bestItemSec p{
    font-size: 1.2rem;
}
.bestItemSec img{
    width: 250px;
    margin-left:50px;
    border:1px solid red;
}
.bestItemSec img:nth-child(2n){
    margin-top: 50px;
}



